.forgot-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
 
  .forget-password {
    justify-content: space-between;
    align-items: center;
    width: 90%;
  }
  label {
    transform: initial;
  }
  
  .forget-password a {
    text-decoration: underline;
    color: var(--primary-color);
  }
  